- provide(:title, "User")
%p#notice= notice
- breadcrumb :users
%h5= breadcrumbs separator: " &rsaquo; "
%h1.text-center.title ユーザー一覧

= will_paginate

%table.table
  %thead.table-light
    %tr
      %th 名前
      %th Email
      %th
  %tbody
    - @users.each do |user|
      %tr
        %td= user.name
        %td= user.email
        %td
          = link_to '詳細', user, class: 'btn btn-sm btn-primary text-white'
          = link_to '編集', edit_user_path(user), class: 'btn btn-sm btn-primary text-white'
          = link_to '削除', user, method: :delete, data: { confirm: '本当に削除してよろしいですか?'}, class: 'btn btn-sm btn-danger text-white'

= will_paginate

%br/
= link_to 'ユーザー登録', new_user_path, class: 'btn btn-primary text-white w-100'

