- provide(:title, "Sign up")
- provide(:button_text, 'アカウント登録')
- breadcrumb :user_new
%h5= breadcrumbs separator: " &rsaquo; "
%h1.text-center.title アカウント登録
= form_with(model: @user, local: true) do |form|
  .row
    .col-md-6.col-md-offset-3
      =render 'shared/error_messages'
  .row.mb-3
    .col-md-3.col-form-label 名前
    .col-md-9= form.text_field :name, class: 'form-control'
  .row.mb-3
    .col-md-3.col-form-label Email
    .col-md-9= form.email_field :email, class: 'form-control'
  .row.mb-3
    .col-md-3.col-form-label パスワード
    .col-md-9= form.password_field :password, class: 'form-control'
  .row.mb-3
    .col-md-3.col-form-label パスワード(確認用)
    .col-md-9= form.password_field :password_confirmation, class: 'form-control'
  .actions
    = form.submit yield(:button_text), class: 'btn btn-primary w-100'
