%h1.text-center #{@music.title} (#{@music.artist})

%table.table
  %thead.table-light
    %tr
      %th 得点
      %th メモ
      %th 歌唱日
      %th

  %tbody
    - @results.each do |result|
      %tr
        %td= result.point
        %td= result.memo
        %td= result.datetime
        %td
          = link_to '詳細', user_music_result_path(id: result.id), class: 'btn btn-sm btn-outline-primary'
          = link_to '編集', edit_user_music_result_path(id: result.id), class: 'btn btn-sm btn-outline-primary'
          = link_to '削除', user_music_result_path(id: result.id), method: :delete, data: { confirm: '本当に削除してよろしいですか?' }, class: 'btn btn-sm btn-outline-danger'

%br

= link_to '得点記録', new_user_music_result_path, class: 'btn btn-outline-primary w-100'
