- provide(:title, "Result")
- breadcrumb :results
%h5= breadcrumbs separator: " &rsaquo; "
%h1.text-center.title #{@tune.title} (#{@tune.artist})

%table.table
  %thead.table-dark
    %tr
      %th 機種
      %th キー
      %th 得点
      %th メモ
      %th 歌唱日時
      %th

  %tbody
    %tr
      %td{colspan:6}= link_to '得点記録', new_user_tune_result_path, class: 'btn btn-secondary text-white w-100'
    - @results.each do |result|
      %tr
        %td= result.model
        %td= result.key
        %td= result.score
        %td= result.memo
        %td= result.datetime.strftime("%F %H:%M")
        %td
          = link_to '詳細', user_tune_result_path(id: result.id), class: 'btn btn-md btn-dark text-white'
