- provide(:title, "Result")
- breadcrumb :results
%h5= breadcrumbs separator: " &rsaquo; "
%h1.text-center.title #{@music.title} (#{@music.artist})

%table.table
  %thead.table-info
    %tr
      %th 機種
      %th 得点
      %th メモ
      %th 歌唱日時
      %th

  %tbody
    %tr
      %td{colspan:5}= link_to '得点記録', new_user_music_result_path, class: 'btn btn-primary text-white w-100'
    - @results.each do |result|
      %tr
        %td= result.model
        %td= result.score
        %td= result.memo
        %td= result.datetime.strftime("%F %H:%M")
        %td
          = link_to '詳細', user_music_result_path(id: result.id), class: 'btn btn-md btn-primary text-white'
