%p#notice= notice
- breadcrumb :result, @result
= breadcrumbs separator: " &rsaquo; "
.row
  %p.mt-3
    %b 得点:
    = @result.score
  %p
    %b メモ:
    = simple_format @result.memo
  %p
    %b 歌唱日時:
    = @result.datetime.strftime("%F %H:%M")

= link_to '編集', edit_user_music_result_path(@result)
\|
= link_to '戻る', user_music_results_path
