- provide(:title, "Tune")
-breadcrumb :tunes
.container.vw-100
  %h5= breadcrumbs separator: " &rsaquo; "
  %h1.text-center.title 曲一覧
  = form_tag user_tunes_path, { method: 'GET', remote: false } do
    %table.table.mb-0
      %thead.table-dark
        %tr
          %th 曲名
          %th アーティスト
          %th 並び替え
          %th
      %tbody
        %tr
          %td
            = text_field_tag :title, params[:title], list: 'titles', autocomplete: "off", class: 'form-control'
            %datalist#titles
              - @titles.each do |title|
                %option{value: title}
          %td
            = text_field_tag :artist, params[:artist], list: 'artists', autocomplete: "off", class: 'form-control'
            %datalist#artists
              - @artists.each do |artist|
                %option{value: artist}
          %td
            = select_tag "sort", options_for_select(@sort, params[:sort]), include_blank: true, class:'form-control form-select'
            .text-center
              %label
                = check_box_tag :favorite, true, params[:favorite]
                お気に入りのみ
          %td= submit_tag '検索', class: 'btn-lg btn-secondary w-100 d-block'
  %table.table
    %thead.table-dark
      %tr
        %th 曲名
        %th アーティスト
        %th キー
        %th 歌唱回数
        %th 平均点
        %th
    %tbody
      %tr
        %td{colspan:6}= link_to '曲登録', new_user_tune_path, class: 'btn btn-secondary w-100 text-white'
      - @tunes.each do |tune|
        %tr
          %td
            -if tune.favorite
              %i.bi.bi-star-fill
            #{tune.title}
          %td= tune.artist
          %td= tune.key
          %td= tune.results.length
          %td= tune.average_score
          %td
            .mb-1= link_to '得点記録', new_user_tune_result_path(tune_id: tune), class: 'btn btn-md btn-secondary text-white w-100'
            = link_to 'データ閲覧', user_tune_path(id: tune.id), class: 'btn btn-md btn-dark text-white w-100'
  = paginate @tunes
