- provide(:title, "Music")
-breadcrumb :musics
%h5= breadcrumbs separator: " &rsaquo; "
%h1.text-center.title 曲一覧

%table.table
  %thead.table-light
    %tr
      %th 曲名
      %th アーティスト
      %th 歌唱回数
      %th 平均点
      %th
  %tbody
    %tr
      %td{colspan:5}= link_to '曲登録', new_user_music_path, class: 'btn btn-primary text-white w-100'
    - @musics.each do |music|
      %tr
        %td= music.title
        %td= music.artist
        %td= music.results.length
        %td= music.average_score
        %td
          .mb-1= link_to '得点記録', new_user_music_result_path(music_id: music), class: 'btn btn-md btn-info text-dark w-100'
          = link_to 'データ閲覧', user_music_path(id: music.id), class: 'btn btn-md btn-primary text-white w-100'
