- provide(:title, "Music")
-breadcrumb :musics
.container.vw-100
  %h5= breadcrumbs separator: " &rsaquo; "
  %h1.text-center.title 曲一覧
  = form_tag user_musics_path, { method: 'GET', remote: false } do
    %table.table
      %thead.table-info
        %tr
          %th 曲名
          %th アーティスト
          %th 並び替え
          %th
      %tbody
        %tr
          %td
            = text_field_tag :title, params[:title], list: 'titles', autocomplete: "off", class: 'form-control'
            %datalist#titles
              - @titles.each do |title|
                %option{value: title}
          %td
            = text_field_tag :artist, params[:artist], list: 'artists', autocomplete: "off", class: 'form-control'
            %datalist#artists
              - @artists.each do |artist|
                %option{value: artist}
          %td= select_tag "sort", options_for_select(@sort, params[:sort]), include_blank: true, class:'form-control form-select'
          %td= submit_tag '検索', class: 'btn-lg btn-primary w-100 d-block'
  %table.table
    %thead.table-info
      %tr
        %th 曲名
        %th アーティスト
        %th キー
        %th 歌唱回数
        %th 平均点
        %th
    %tbody
      %tr
        %td{colspan:6}= link_to '曲登録', new_user_music_path, class: 'btn btn-primary text-white w-100'
      - @musics.each do |music|
        %tr
          %td= music.title
          %td= music.artist
          %td= music.key
          %td= music.results.length
          %td= music.average_score
          %td
            .mb-1= link_to '得点記録', new_user_music_result_path(music_id: music), class: 'btn btn-md btn-info text-dark w-100'
            = link_to 'データ閲覧', user_music_path(id: music.id), class: 'btn btn-md btn-primary text-white w-100'
