- provide(:title, "Music")
- breadcrumb :music_new
%h5= breadcrumbs separator: " &rsaquo; "
%h1.text-center.title 曲登録
= form_with model: @music, url: user_musics_path do |f|
  - if @music.errors.any?
    #error_explanation
      %h2= "#{pluralize(@music.errors.count, "error")} prohibited this music from being saved:"
      %ul
        - @music.errors.full_messages.each do |message|
          %li= message
  .row
    .col-md-3.col-form-label 曲名
    .col-md-9= f.text_field :title, autocomplete: "off", class: 'form-control'
  .row.mt-3
    .col-md-3.col-form-label アーティスト
    .col-md-9
      = f.text_field :artist, list: 'artists', autocomplete: "off", class: 'form-control'
      %datalist#artists
        - @artists.each do |artist|
          %option{value: artist}
  .row.mt-3
    .col-md-3.col-form-label お気に入り
    .col-md-9= f.check_box :favorite
  .row.mt-3
    .col-md-3.col-form-label キー
    .col-md-9= f.select :key, [*-6..6].reverse, {value: 0}, class: 'form-control'
  .row.mt-3
    .col-md-3.col-form-label メモ
    .col-md-9= f.text_area :memo, rows: "10", class: 'form-control'
  .actions.pt-3
    = f.submit '登録', class: 'btn btn-primary text-white w-100'

