%p#notice= notice
.row.text-center
  %p
    %b 曲名:
    = @music.title
  %p
    %b アーティスト:
    = @music.artist
  %p
    %b ユーザーID:
    = @music.user_id
  %p
    %strong 登録日時:
    = @music.created_at.strftime("%Y-%m-%d %H:%M:%S")
  %p
    %strong 更新日時:
    = @music.updated_at.strftime("%Y-%m-%d %H:%M:%S")

= link_to 'Edit', edit_music_path(@music)
\|
= link_to 'Back', musics_path
