%p#notice= notice
- breadcrumb :music, @music
= breadcrumbs separator: " &rsaquo; "
.row.text-center
  %p
    %b 曲名:
    = @music.title
  %p
    %b アーティスト:
    = @music.artist
  %p
    %b 平均点:
    = @music.average_score
= line_chart @music.results.group_by_minute(:datetime, series:false, format: "%F %H:%M").maximum(:score), xtitle: "歌唱日時", ytitle: "Score", min: [0, @min_score - 5].max, max: [100, @max_score + 5].min, curve: false, discrete: true
= link_to '記録一覧', user_music_results_path(music_id: @music.id), class: 'btn btn-outline-primary w-100'

= link_to '編集', edit_user_music_path(@music)
\|
= link_to '戻る', user_musics_path
